@model HomeVM
<main>
    <section id="first">
        <div class="container">
            <div class="row">
                <div class="image col-lg-8 col-md-12"><img src="../assets/image/the-town-01.jpg" alt=""></div>
                <div class="title col-lg-4 col-md-12">
                    <div class="intro ">
                        <h1>Introduction</h1>
                    </div>
                    <div class="text">
                        The Town is simple CSS template built on Bootstrap v4.1.3 and this is a little
                        parallax layout that you can use for your websites.
                    </div>
                    <div class="rigth">
                        Please tell your friends about our site TemplateMo. Thank you. Curabitur
                        dapibus tristique enim a imperdiet. Etiam tristique sem sed condimentum posuere..
                    </div>
                    <div class="btn"><a href="">Read More</a></div>
                </div>
            </div>
        </div>
    </section>
    <section id="icons">
        <div class="icon">
            <div class="container">
                <div class="row">
                    @foreach (Socialicons icon in Model.Socialicons)
                    {
                         <div class="card col-lg-4 col-md-12 col-sm-12">
                        <i class=" @icon.IconUrl"></i>
                        <div class="title">@Model.Cards.Name</div>
                        <div class="text">
                            @Model.Cards.Title
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>
    </section>
    <section id="ours">
        <div class="container">
            <div class="row">
                <div class="our">
                    <h1>Our Work</h1>
                    <p>
                        Curabitur ac orci ac lorem blandit volutpat. Sed ac sodales nibh, ut porttitor elit. Sed id
                        dui mi.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia."
                    </p>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="item"><img src="../assets/image/gallery-img-01.jpg" alt=""></div>
                    <div class="item"><img src="../assets/image/gallery-tn-02 (1).jpg" alt=""></div>
                    <div class="item"><img src="../assets/image/gallery-tn-03.jpg" alt=""></div>
                    <div class="item"><img src="../assets/image/gallery-tn-04.jpg" alt=""></div>
                    <div class="item"><img src="../assets/image/gallery-tn-05.jpg" alt=""></div>
                    <div class="item"><img src="../assets/image/gallery-tn-06.jpg" alt=""></div>


                </div>
            </div>
        </div>
    </section>
</main>
